body {
    padding-top: 50px;
}

#sidebar {
    background: #51354B;
    min-height: 300px;
    width: 215px;
}
#team {
    font-size: large;
    color: white;
}
#user {
    color: #AF98A9;
}
#chat {
    background: deepskyblue;
    min-height: 300px;
}